.button {
    font-size: rem(16px);
    font-weight: 800;
    padding: rem(21px) rem(41px);
    text-transform: uppercase;
    border-radius: rem(100px);
    line-height: rem(18px);
    text-decoration: none;
    transition: 0.3s color;
    display: inline-block;
    border: none;
    cursor: pointer;

    &--theme--yellow {
        background: #FEDB3F;
        color: #000;
        
        &:hover {
            background: #ffd517;
        }

        @include phones {
            font-size: rem(18px);
            line-height: rem(16px);
            text-align: center;
            padding: rem(21px) rem(41px);
        }
    }
    
    &--big--mobile {
        @include phones {
            font-size: rem(19px);
            line-height: rem(18px);
        }
    }


    &--theme--transparent {
        background: transparent;
        color: #fff;
        font-size: $baseFontSize;
        text-transform: none;
        padding: rem(21px) rem(20px);

        &:hover {
            color: #ffd517;
        }

        @include phones {
            line-height: rem(22px);
            font-weight: 400;
        }
    }
}

