.form {
    display: flex;
    
    @include tablets {
        flex-direction: column;
        padding: 0 16%;
    }

    @include phones {
        padding: 0;
    }
}

.form__col {
    flex: 1;
    margin-right: rem(32px);

    &:last-child {
        margin-right: 0;
    }

    @include phones {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
    margin-bottom: rem(12px);

    &--textarea {
        margin-bottom: rem(40px);
    }

    @include tablets {
        margin-bottom: rem(10px);

        &--textarea {
            margin-bottom: rem(26px);
        }
    }

    @include phones {
        margin-bottom: rem(12px);

        &--textarea {
            margin-bottom: rem(24px);
        }
    }
}

.form__block {
    flex: 1;
    margin-right: rem(23px);

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin-right: rem(15px);
    }
}

.form__title {
    line-height: rem(22px);
    margin-bottom: rem(2px);
}

.form__input {
    width: 100%;
    border: none;
    padding: rem(18px) rem(80px) rem(15px) rem(12px);
    border: solid rem(3px) transparent;
    border-radius: rem(5px);

    &--textarea {
        height: rem(152px);
        resize: none;
        display: block;

        @include tablets {
            height: rem(82px);
            width: 93%;
        }

        @include phones {
            width: 100%;
        }
    }

    &:focus {
        border: solid rem(3px) #FEDB3F;
        outline: none;
    }

    @include tablets {
        padding: rem(8px) rem(10px) rem(6px);
    }

    @include phones {
        padding: rem(6px) rem(10px);
    }

}

.form__controls {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem(18px);

    &--checkbox {
        margin-bottom: rem(44px);
    }

    @include tablets {
        margin-bottom: rem(24px);

        &--checkbox {
            margin-bottom: rem(36px);
        }
    }

    @include phones {
        justify-content: center;
    }
}

.form__radio {
    margin-right: rem(12px);

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin-right: rem(18px);
    }

    @include phones {
        margin-right: rem(10px);
    }
}

.form__buttons {
    display: flex;
    justify-content: flex-start;

    @include tablets {
        justify-content: center;
    }
}