.map-section {
    position: relative;
}

.map__wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

// .map__img {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//     overflow: hidden;
//     z-index: -5;
//     top: 0;
//     left: 0;
// }