.products-menu__list {
    width: 100%;
    justify-content: flex-end;
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.products-menu__item {
    display: flex;

    @include phones {
        &.active {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 20;
        }
    }
}

.products-menu__title {
    position: relative;
    width: rem(102px);
  
    &:after {
      content: "";
      display: block;
      top: 0;
      bottom: rem(0px);
      left: 0;
      right: 0;
      position: absolute;
      background: rgba(0, 0, 0, .4);

      @include phones {
        width: rem(102px);
    }
    }

    @include phones {
        width: rem(90px);
    }
}

.products-menu__img-wrap {
    width: rem(102px);
    height: 100%;
    display: block;
}

.products-menu__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.products-menu__text {
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 50%;
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: 0 0;
    white-space: nowrap;
    font-size: rem(48px);
    font-weight: $fontWeightBold;
    line-height: rem(58px);

    @include phones {
        font-size: rem(40px);
        line-height: rem(48px);
    }
}

.products-menu__content {
    background: rgba(51,53,55,.9);
    width: 0;
    overflow: hidden;
    transition: width 0.5s;
}

.products-menu__container {
    padding: rem(31px) rem(80px) 0 rem(38px);

    @include tablets {
        padding: rem(42px) rem(53px) 0 rem(38px);
    }

    @include phones {
        padding: rem(29px) rem(35px) 0 rem(38px);
    }
}

.products-menu__desc {
    font-size: rem(16px);
    line-height: rem(24px);
}