@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;0,800;1,400&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  html {
    font-size: 3.75vmin;
  }
}

html, body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-content {
  height: 100%;
  transition: transform 0.8s;
  will-change: transform;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: url("../img/hero-bg.png") center top/cover no-repeat;
  color: #fff;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero {
    background: url("../img/hero-bg-tablets.png") center top/cover no-repeat;
  }
  .hero:after {
    content: "";
    width: 100%;
    height: 5.1111111111rem;
    background: #1968B1;
    top: 0;
    left: 0;
    position: absolute;
  }
}

.hero__title-section {
  width: 52%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 17%;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-section {
    padding-top: 23%;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.3333333333rem 0 3.7777777778rem 0;
}

.hero__main-title {
  font-size: 2.6666666667rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.9444444444rem;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .hero__main-title {
    padding: 0 3.4%;
    margin-bottom: 0.6111111111rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    padding: 0;
    margin-bottom: 0.6666666667rem;
    font-size: 2.2222222222rem;
    line-height: 2rem;
    text-align: center;
  }
}

.hero__title-desc {
  font-size: 1.1666666667rem;
  line-height: 1.19;
  margin-bottom: 2.1666666667rem;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    font-size: 1rem;
    line-height: 1.1111111111rem;
    margin-bottom: 2.4444444444rem;
  }
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .header {
    align-items: center;
    padding: 0.0555555556rem 0.7222222222rem;
  }
}
@media screen and (max-width: 480px) {
  .header {
    padding: 0;
  }
}

.features {
  display: flex;
}

.features__item {
  margin-right: 0.6666666667rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: flex;
  align-items: center;
  max-width: 8.8333333333rem;
}

.feature__icon {
  margin-right: 0.7777777778rem;
}

.feature__icon-img {
  width: 1.9444444444rem;
  height: 1.7777777778rem;
}

.feature__text {
  font-size: 0.8888888889rem;
  line-height: 1rem;
  font-weight: 700;
}

.button {
  font-size: 0.8888888889rem;
  font-weight: 800;
  padding: 1.1666666667rem 2.2777777778rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 1rem;
  text-decoration: none;
  transition: 0.3s color;
  display: inline-block;
  border: none;
  cursor: pointer;
}
.button--theme--yellow {
  background: #FEDB3F;
  color: #000;
}
.button--theme--yellow:hover {
  background: #ffd517;
}
@media screen and (max-width: 480px) {
  .button--theme--yellow {
    font-size: 1rem;
    line-height: 0.8888888889rem;
    text-align: center;
    padding: 1.1666666667rem 2.2777777778rem;
  }
}
@media screen and (max-width: 480px) {
  .button--big--mobile {
    font-size: 1.0555555556rem;
    line-height: 1rem;
  }
}
.button--theme--transparent {
  background: transparent;
  color: #fff;
  font-size: 18px;
  text-transform: none;
  padding: 1.1666666667rem 1.1111111111rem;
}
.button--theme--transparent:hover {
  color: #ffd517;
}
@media screen and (max-width: 480px) {
  .button--theme--transparent {
    line-height: 1.2222222222rem;
    font-weight: 400;
  }
}

.section {
  height: 100%;
  min-height: 36.1111111111rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section--font-color--white {
  color: #fff;
}
.section--font-color--white .section__title {
  color: inherit;
}

.section__title {
  font-size: 2.6666666667rem;
  line-height: 3.2222222222rem;
  font-weight: 700;
  text-align: center;
  color: #292929;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .section__title {
    font-size: 2.2222222222rem;
    line-height: 2rem;
  }
}

.headline {
  text-align: center;
  margin-bottom: 2.7222222222rem;
}
@media screen and (max-width: 480px) {
  .headline {
    margin-bottom: 2.9444444444rem;
  }
}

.headline__title {
  color: #292929;
  margin-bottom: 0.9444444444rem;
  font-size: 2.6666666667rem;
  line-height: 3.2222222222rem;
}
@media screen and (max-width: 768px) {
  .headline__title {
    margin-bottom: 0.8888888889rem;
  }
}
@media screen and (max-width: 480px) {
  .headline__title {
    font-size: 2.2222222222rem;
    line-height: 2rem;
    margin-bottom: 0.5rem;
  }
}

.headline__subtitle {
  line-height: 1.2222222222rem;
  padding: 0 27%;
}
@media screen and (max-width: 768px) {
  .headline__subtitle {
    padding: 0 20%;
  }
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 1.8%;
  }
}

.benefits {
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    flex-direction: column;
  }
}

.benefits__item {
  flex: 1;
  position: relative;
  padding: 0 2.7%;
}
.benefits__item::before {
  content: url(../img/circle.svg);
  position: absolute;
  top: 3rem;
  right: 0;
  transform: translateX(50%);
}
@media screen and (max-width: 768px) {
  .benefits__item::before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}
@media screen and (max-width: 768px) {
  .benefits__item {
    padding: 0 2%;
  }
}
@media screen and (max-width: 480px) {
  .benefits__item {
    margin-bottom: 2.2222222222rem;
    padding: 0;
  }
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: flex;
    text-align: left;
  }
}

.benefit__image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 1.1111111111rem auto;
  flex-shrink: 0;
}
@media screen and (max-width: 768px) {
  .benefit__image-wrapper {
    margin-bottom: 1.1111111111rem;
  }
}
@media screen and (max-width: 480px) {
  .benefit__image-wrapper {
    margin-bottom: 0;
    margin-right: 0.6111111111rem;
  }
}

.benefit__image {
  width: 3.7777777778rem;
  height: 3.7777777778rem;
  color: #000000;
}

.benefit__title {
  font-size: 1.5rem;
  line-height: 1.7777777778rem;
  margin-bottom: 1.1111111111rem;
  font-weight: 700;
  color: #292929;
}
@media screen and (max-width: 768px) {
  .benefit__title {
    margin-bottom: 0.3888888889rem;
  }
}
@media screen and (max-width: 480px) {
  .benefit__title {
    margin-bottom: 0.5rem;
  }
}

.benefit__desc {
  line-height: 1.2222222222rem;
  font-weight: 300;
  color: #666666;
}

.reviews__main-title {
  margin-bottom: 1.7777777778rem;
}
@media screen and (max-width: 480px) {
  .reviews__main-title {
    font-size: 2.2222222222rem;
    line-height: 2rem;
    margin-bottom: 1.4444444444rem;
  }
}

.reviews__display {
  background: #F8FAF9;
  padding: 2.3333333333rem 7.8888888889rem 2.3333333333rem 2.3333333333rem;
  font-size: 1rem;
  margin-bottom: 0.8333333333rem;
}
@media screen and (max-width: 768px) {
  .reviews__display {
    padding: 3.1111111111rem 1.3333333333rem 2.3888888889rem 1.3333333333rem;
    margin-bottom: 1.5555555556rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__display {
    padding: 3.1111111111rem 1.6666666667rem 1.7222222222rem 1.3888888889rem;
    margin-bottom: 1.6111111111rem;
  }
}

.reviews__list {
  position: relative;
  min-height: 14.1666666667rem;
}

.reviews__item {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
  opacity: 0;
}
.reviews__item--active {
  position: static;
  opacity: 1;
  pointer-events: unset;
}
@media screen and (max-width: 768px) {
  .reviews__item {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.reviews__avatar {
  width: 14.0555555556rem;
  height: 14.6666666667rem;
  margin-right: 2.1111111111rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.2222222222rem;
    height: 7.2222222222rem;
    margin-bottom: 1.7777777778rem;
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .reviews__avatar {
    margin-bottom: 1.5rem;
  }
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  color: #292929;
  padding-top: 1.5555555556rem;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    padding-top: 0;
  }
}

.reviews__title {
  font-size: 1.5rem;
  line-height: 1.7777777778rem;
  font-weight: 700;
  margin-bottom: 0.7777777778rem;
}
@media screen and (max-width: 768px) {
  .reviews__title {
    margin-bottom: 0.8888888889rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__title {
    margin-bottom: 0.6666666667rem;
  }
}

.reviews__text {
  line-height: 1.2222222222rem;
  margin-bottom: 1.3888888889rem;
  color: #666666;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    margin-bottom: 0.9444444444rem;
    padding: 0 0.9444444444rem;
    line-height: 1.2rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__text {
    margin-bottom: 0.6666666667rem;
  }
}

.reviews__author {
  font-weight: 700;
  line-height: 1.3333333333rem;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
  margin-right: 0.3333333333rem;
}
.reviews__switcher:last-child {
  margin-right: 0;
}
@media screen and (max-width: 480px) {
  .reviews__switcher {
    padding: 0.5555555556rem 0.5555555556rem 0 1.1666666667rem;
  }
}

.interactive-avatar {
  width: 4.1111111111rem;
  height: 4.1111111111rem;
  border: 0.3333333333rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active, .interactive-avatar:hover {
  border-color: #FEDB3F;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.order-section {
  background: url("../img/foarm-bg.png") center top/cover no-repeat;
  color: #fff;
}

.order-section__title {
  margin-bottom: 3.2777777778rem;
}
@media screen and (max-width: 768px) {
  .order-section__title {
    margin-bottom: 1.6666666667rem;
    width: 95%;
  }
}
@media screen and (max-width: 480px) {
  .order-section__title {
    margin-bottom: 2.1666666667rem;
  }
}

.form {
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    padding: 0 16%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: 1.7777777778rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 480px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 0.6666666667rem;
}
.form__row--textarea {
  margin-bottom: 2.2222222222rem;
}
@media screen and (max-width: 768px) {
  .form__row {
    margin-bottom: 0.5555555556rem;
  }
  .form__row--textarea {
    margin-bottom: 1.4444444444rem;
  }
}
@media screen and (max-width: 480px) {
  .form__row {
    margin-bottom: 0.6666666667rem;
  }
  .form__row--textarea {
    margin-bottom: 1.3333333333rem;
  }
}

.form__block {
  flex: 1;
  margin-right: 1.2777777778rem;
}
.form__block:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__block {
    margin-right: 0.8333333333rem;
  }
}

.form__title {
  line-height: 1.2222222222rem;
  margin-bottom: 0.1111111111rem;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1rem 4.4444444444rem 0.8333333333rem 0.6666666667rem;
  border: solid 0.1666666667rem transparent;
  border-radius: 0.2777777778rem;
}
.form__input--textarea {
  height: 8.4444444444rem;
  resize: none;
  display: block;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: 4.5555555556rem;
    width: 93%;
  }
}
@media screen and (max-width: 480px) {
  .form__input--textarea {
    width: 100%;
  }
}
.form__input:focus {
  border: solid 0.1666666667rem #FEDB3F;
  outline: none;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.4444444444rem 0.5555555556rem 0.3333333333rem;
  }
}
@media screen and (max-width: 480px) {
  .form__input {
    padding: 0.3333333333rem 0.5555555556rem;
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.form__controls--checkbox {
  margin-bottom: 2.4444444444rem;
}
@media screen and (max-width: 768px) {
  .form__controls {
    margin-bottom: 1.3333333333rem;
  }
  .form__controls--checkbox {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .form__controls {
    justify-content: center;
  }
}

.form__radio {
  margin-right: 0.6666666667rem;
}
.form__radio:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__radio {
    margin-right: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .form__radio {
    margin-right: 0.5555555556rem;
  }
}

.form__buttons {
  display: flex;
  justify-content: flex-start;
}
@media screen and (max-width: 768px) {
  .form__buttons {
    justify-content: center;
  }
}

.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible:before {
  background: url(../img/galka.svg) center center/cover no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  width: 1.3888888889rem;
  height: 1.3888888889rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.7777777778rem;
}
.radio__visible:before {
  content: "";
  width: 0.7222222222rem;
  height: 0.7222222222rem;
  background: #FEDB3F;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.radio__visible:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .radio__visible {
    margin-right: 0.5555555556rem;
  }
}
@media screen and (max-width: 480px) {
  .radio__visible {
    margin-right: 0.2777777778rem;
  }
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
  color: #fff;
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}
.fixed-menu--black {
  color: #000;
}

.fixed-menu__item {
  margin-bottom: 0.27rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: currentColor;
}

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:hover {
  border-color: currentColor;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: currentColor;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.map-section {
  position: relative;
}

.map__wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.social__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateX(12px);
  padding-top: 0.6666666667rem;
}
@media screen and (max-width: 768px) {
  .social__list {
    transform: translateX(-8px);
    padding-top: 0.2777777778rem;
  }
}
@media screen and (max-width: 480px) {
  .social__list {
    transform: translateX(9px);
    padding-top: 0.4444444444rem;
  }
}

.social__item {
  margin-right: 0.7777777778rem;
}
@media screen and (max-width: 480px) {
  .social__item {
    margin-right: 1rem;
  }
}

.social_item:last-child {
  margin-right: 0;
}

.social__svg {
  display: block;
  width: 1.1111111111rem;
  height: 1.1111111111rem;
  position: relative;
  color: #b3b3b3;
  transition: 0.3s color;
}
.social__svg:hover {
  color: #292929;
}

.footer {
  margin: 0 auto;
  width: 100%;
  bottom: 0;
  min-height: 5rem;
  color: #292929;
  padding-top: 0.9444444444rem;
  background: #fff;
  position: absolute;
  padding-bottom: 1.1111111111rem;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__container {
    flex-direction: column;
  }
}

.contacts {
  display: inline-flex;
  flex-direction: column;
}
@media screen and (max-width: 480px) {
  .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5555555556rem;
  }
}

.contacts__info {
  font-size: 1.1666666667rem;
  line-height: 1.3333333333rem;
  margin-bottom: 0.4444444444rem;
}
@media screen and (max-width: 480px) {
  .contacts__info {
    margin-bottom: 0.6666666667rem;
  }
}

.phone-number--theme--black {
  font-size: 1.1666666667rem;
  line-height: 1.1666666667rem;
}

.menu {
  margin: 0 1.1111111111rem;
  padding-top: 0.4444444444rem;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__item {
  margin-right: 1.2222222222rem;
  margin-bottom: 0.5555555556rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-weight: 700;
  text-decoration: none;
  white-space: nowrap;
}

.hamburger {
  width: 1.4444444444rem;
  height: 1.3333333333rem;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #FFFFFF;
  height: 0.2222222222rem;
  border-radius: 0.5555555556rem;
}

.phone-number {
  font-weight: 700;
  font-size: 1.2222222222rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__img {
  width: 0.7222222222rem;
  height: 0.7777777778rem;
  margin-right: 0.2777777778rem;
  flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.phone-number__text {
  white-space: nowrap;
}

.logo {
  flex-shrink: 0;
}

.logo__img {
  width: 3.0555555556rem;
  height: 2.2222222222rem;
}

.hamburger-menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10000;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #313131;
  display: none;
}

.hamburger-menu-active {
  display: flex;
}

.hamburger-menu__nav {
  padding-bottom: 1.1111111111rem;
}

.hamburger-menu__close {
  position: absolute;
  top: 2.3333333333rem;
  right: 2.3333333333rem;
}

.hamburger-menu__close-img {
  color: #fff;
  width: 1.1111111111rem;
  height: 1.1111111111rem;
  opacity: 0.7;
}

.hamburger-menu__nav {
  color: #fff;
  font-size: 2rem;
  line-height: 4rem;
  text-align: center;
  display: block;
}

.hamburger-menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hamburger-menu__link {
  text-decoration: none;
}

.products-section {
  background: #F8FAF9;
}

.products-slider__arrow {
  background: url("../img/rightarrow.png") center center no-repeat;
  background-size: contain;
  display: block;
  width: 1.3333333333rem;
  height: 2.2222222222rem;
  position: absolute;
  top: 44%;
  transform: translateY(-50%);
  z-index: 15;
}
@media screen and (max-width: 768px) {
  .products-slider__arrow {
    top: 30%;
  }
}
@media screen and (max-width: 480px) {
  .products-slider__arrow {
    top: 10.5555555556rem;
  }
}
.products-slider__arrow--direction--next {
  right: -2.7777777778rem;
}
@media screen and (max-width: 768px) {
  .products-slider__arrow--direction--next {
    right: 18%;
  }
}
@media screen and (max-width: 480px) {
  .products-slider__arrow--direction--next {
    right: 0%;
  }
}
.products-slider__arrow--direction--prev {
  left: 1.4444444444rem;
  transform: rotate(-180deg) translateY(-50%);
  transform-origin: 0 0;
}
@media screen and (max-width: 768px) {
  .products-slider__arrow--direction--prev {
    left: 21%;
  }
}
@media screen and (max-width: 480px) {
  .products-slider__arrow--direction--prev {
    left: 4%;
  }
}

.products-slider {
  position: relative;
  height: 100%;
}
.products-slider .bx-wrapper {
  background: transparent;
  box-shadow: none;
  border: 0;
}

.products__title {
  font-size: 2rem;
  line-height: 2.3888888889rem;
  font-weight: bold;
  margin-bottom: 1.3333333333rem;
  color: #0d0d0d;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .products__title {
    font-size: 1.6666666667rem;
    line-height: 2rem;
    text-align: center;
    margin-bottom: 0.7777777778rem;
  }
}
@media screen and (max-width: 480px) {
  .products__title {
    padding: 0;
    margin-bottom: 0.7222222222rem;
  }
}

.products__desc {
  font-size: 1rem;
  line-height: 1.2222222222rem;
  margin-bottom: 1.3333333333rem;
}
@media screen and (max-width: 768px) {
  .products__desc {
    width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .products__desc {
    width: 100%;
  }
}

.products__features {
  display: flex;
  margin-bottom: 1.3333333333rem;
}
@media screen and (max-width: 768px) {
  .products__features {
    padding-left: 1.7222222222rem;
  }
}

.products__feature {
  margin-right: 3.0555555556rem;
}
.products__feature:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .products__feature {
    text-align: left;
    margin-right: 2.8888888889rem;
  }
}

.products__feature-title {
  font-size: 1rem;
  line-height: 1.2222222222rem;
}

.products__feature-desc {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2222222222rem;
  color: #000000;
}

.products__order {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products__price {
  font-size: 3.3333333333rem;
  font-weight: 300;
  line-height: 3.3333333333rem;
  color: #151515;
  margin-right: 1.5555555556rem;
}

@media screen and (max-width: 768px) {
  .products__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 0;
  }
}

.product__container {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  .product__container {
    flex-direction: column;
    align-items: center;
  }
}

.product__parameters {
  margin-bottom: 2.8888888889rem;
}
@media screen and (max-width: 768px) {
  .product__parameters {
    display: none;
  }
}

.product__col {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .product__col {
    margin-right: 0;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3.3333333333rem;
    text-align: center;
  }
  .product__col:last-child {
    margin-bottom: 0;
  }
}
.product__col:last-child {
  margin-right: 0;
}
.product__col--picture {
  margin-right: 3.1111111111rem;
}
@media screen and (max-width: 768px) {
  .product__col--picture {
    margin: 0;
  }
}
.product__col--text {
  max-width: 20.7777777778rem;
  padding-top: 0.7222222222rem;
}
@media screen and (max-width: 768px) {
  .product__col--text {
    padding-top: 0;
    max-width: 32.3333333333rem;
  }
}
@media screen and (max-width: 480px) {
  .product__col--text {
    max-width: 20.3333333333rem;
  }
}

.product__image {
  position: relative;
}
@media screen and (max-width: 768px) {
  .product__image {
    height: 23.1666666667rem;
    width: 17.6666666667rem;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .product__image {
    height: 18.3888888889rem;
    width: 14rem;
    margin-bottom: 2rem;
  }
}

.product__image-elem {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.product__text {
  margin-bottom: 1.2777777778rem;
}

.parameters {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.parameters:hover .parameters__button {
  background: #60aacc;
}
.parameters:hover .parameters__dropdown {
  left: 100%;
  opacity: 1;
}

.parameters__button {
  width: 5.0555555556rem;
  height: 5.0555555556rem;
  background: #3A587E;
  border-radius: 0.2777777778rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

.parameters__button-icon {
  margin-bottom: 0.3888888889rem;
}

.parameters__button-icon-elem {
  fill: currentColor;
  width: 2.1111111111rem;
  height: 2.1111111111rem;
  display: block;
}

.parameters__button-text {
  font-size: 0.7777777778rem;
  font-weight: 700;
  line-height: 0.9444444444rem;
  text-align: center;
  text-transform: uppercase;
}

.parameters__dropdown {
  width: 15.1666666667rem;
  overflow: hidden;
  position: absolute;
  background: #d5d5d5;
  border-radius: 0.2777777778rem;
  top: 0;
  padding: 1rem 0.7777777778rem 1.1666666667rem;
  left: -9999px;
  opacity: 0;
  transition: opacity 0.3s;
}
.parameters__dropdown:after {
  content: "";
  position: absolute;
  top: 0;
  height: 50%;
}

.parameters__item {
  padding: 0.3333333333rem 0.6666666667rem;
  align-items: center;
  display: flex;
  margin-bottom: 0.4444444444rem;
  color: #000;
  font-size: 0.8888888889rem;
  line-height: 1.3333333333rem;
}
.parameters__item:last-child {
  margin-bottom: 0;
}

.parameter__icon {
  width: 1.7777777778rem;
  height: 1.7777777778rem;
  margin-right: 0.6666666667rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parameter__icon-elem {
  color: #010002;
  width: 100%;
  height: 100%;
}

.parameter__text {
  font-weight: 500;
}

.parameter__param {
  margin-left: auto;
}

.team-title {
  margin-bottom: 2.9444444444rem;
}
@media screen and (max-width: 768px) {
  .team-title {
    margin-bottom: 1.8333333333rem;
  }
}
@media screen and (max-width: 480px) {
  .team-title {
    font-size: 2.2222222222rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }
}

.team__list {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .team__list--desktop {
    display: none;
  }
}
.team__list--mobile {
  display: none;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .team__list--mobile {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.team__item {
  text-align: center;
  margin-right: 1.1111111111rem;
  color: #292929;
  flex: 1;
  position: relative;
  max-width: 12.2222222222rem;
}
.team__item:last-child {
  margin-right: 0;
}
.team__item--active .team__icon-elem {
  rotate: 180deg;
}
@media screen and (max-width: 768px) {
  .team__item--active {
    flex: initial;
  }
}
@media screen and (max-width: 768px) {
  .team__item--active .team__button {
    margin-bottom: 0.8333333333rem;
  }
}
@media screen and (max-width: 768px) {
  .team__item {
    margin-bottom: 0.8888888889rem;
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .team__item {
    margin-bottom: 0.3333333333rem;
  }
}

.team__item-wrapper {
  width: 12.2222222222rem;
  height: 16.1111111111rem;
  margin-bottom: 1.1666666667rem;
}
@media screen and (max-width: 768px) {
  .team__item-wrapper {
    margin-bottom: 1.1111111111rem;
  }
}
@media screen and (max-width: 480px) {
  .team__item-wrapper {
    margin-bottom: 0.9444444444rem;
  }
}

.team__item-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.team__button {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
}

.team__name {
  cursor: pointer;
  font-size: 1.1666666667rem;
  font-weight: 700;
  line-height: 1.3888888889rem;
  margin-bottom: 0.4444444444rem;
  background: 0 0;
  border: none;
  margin-right: 0.2222222222rem;
  padding: 0;
}

.team__icon {
  width: 0.5rem;
  height: 0.5rem;
}

.team__icon-elem {
  width: 100%;
  height: 100%;
  transition: rotate 0.3s;
}

.team__content {
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  transition: height 0.3s;
}
@media screen and (max-width: 768px) {
  .team__content {
    position: static;
  }
}

.team__content-title {
  font-size: 1rem;
  line-height: 1.2222222222rem;
  margin-bottom: 0.2222222222rem;
}
@media screen and (max-width: 768px) {
  .team__content-title {
    margin-bottom: 0;
  }
}

.team__content-text {
  font-size: 1rem;
  line-height: 1.2222222222rem;
  color: #666666;
}

.modal {
  display: none;
}
.modal.error-modal .modal__content {
  color: #ff0000;
}
.modal.fancybox-content {
  padding: 0;
}
.modal .fancybox-button {
  display: none;
}

.modal__container {
  background: #fff;
  color: #000;
  padding: 2.0555555556rem 3.7222222222rem;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.modal__content {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3333333333rem;
  margin-bottom: 1rem;
}

.input-error {
  border-color: #ff4c5b;
}

.products-menu-section {
  position: relative;
  background: url(../img/products-menu-bg.png) center center/cover no-repeat;
  color: #fff;
}

.products-menu-section__title {
  position: absolute;
  top: 6.0555555556rem;
  left: 4.6666666667rem;
  color: #fff;
  font-size: 2.6666666667rem;
  font-weight: 700;
  line-height: 3.2222222222rem;
}
@media screen and (max-width: 480px) {
  .products-menu-section__title {
    font-size: 2.2222222222rem;
    line-height: 2rem;
  }
}

.products-menu__list {
  width: 100%;
  justify-content: flex-end;
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.products-menu__item {
  display: flex;
}
@media screen and (max-width: 480px) {
  .products-menu__item.active {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
  }
}

.products-menu__title {
  position: relative;
  width: 5.6666666667rem;
}
.products-menu__title:after {
  content: "";
  display: block;
  top: 0;
  bottom: 0rem;
  left: 0;
  right: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 480px) {
  .products-menu__title:after {
    width: 5.6666666667rem;
  }
}
@media screen and (max-width: 480px) {
  .products-menu__title {
    width: 5rem;
  }
}

.products-menu__img-wrap {
  width: 5.6666666667rem;
  height: 100%;
  display: block;
}

.products-menu__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.products-menu__text {
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 50%;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: 0 0;
  white-space: nowrap;
  font-size: 2.6666666667rem;
  font-weight: 700;
  line-height: 3.2222222222rem;
}
@media screen and (max-width: 480px) {
  .products-menu__text {
    font-size: 2.2222222222rem;
    line-height: 2.6666666667rem;
  }
}

.products-menu__content {
  background: rgba(51, 53, 55, 0.9);
  width: 0;
  overflow: hidden;
  transition: width 0.5s;
}

.products-menu__container {
  padding: 1.7222222222rem 4.4444444444rem 0 2.1111111111rem;
}
@media screen and (max-width: 768px) {
  .products-menu__container {
    padding: 2.3333333333rem 2.9444444444rem 0 2.1111111111rem;
  }
}
@media screen and (max-width: 480px) {
  .products-menu__container {
    padding: 1.6111111111rem 1.9444444444rem 0 2.1111111111rem;
  }
}

.products-menu__desc {
  font-size: 0.8888888889rem;
  line-height: 1.3333333333rem;
}

.player-section {
  background: #F8FAF9;
}

.player-section__container {
  position: relative;
  margin: 0 auto;
  width: 36.7777777778rem;
  height: 21.7777777778rem;
}
@media screen and (max-width: 768px) {
  .player-section__container {
    width: 33rem;
    height: 19.5555555556rem;
  }
}
@media screen and (max-width: 480px) {
  .player-section__container {
    width: 21.8888888889rem;
    height: 13rem;
  }
}

.player {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.player__title {
  margin-bottom: 1.6666666667rem;
}
@media screen and (max-width: 768px) {
  .player__title {
    margin-bottom: 2.2222222222rem;
  }
}
@media screen and (max-width: 480px) {
  .player__title {
    font-size: 2.2222222222rem;
    line-height: 2rem;
  }
}

.player__wrapper {
  height: 100%;
}

.player__splash {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.player__btn-wrapper {
  position: absolute;
  width: 4.1666666667rem;
  height: 6.1111111111rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: 0 0;
  border: none;
  visibility: visible;
}
.player__btn-wrapper--active {
  opacity: 0;
}

.player__btn-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.player__controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1.9444444444rem;
  background: #404040;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4%;
}

.player__start-btn {
  outline: 0;
  cursor: pointer;
  transition: all 0.1s;
  background: url(../../img/player-small.svg) center center/cover no-repeat;
  width: 0.6111111111rem;
  height: 0.8888888889rem;
  border: 0;
}

.player__playback {
  height: 0.8888888889rem;
  position: relative;
  flex: 1;
  margin: 0 0.8333333333rem;
}
.player__playback:before {
  content: "";
  height: 0.2222222222rem;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  background: #626262;
  display: block;
  transform: translateY(-50%);
}

.player__playback-button {
  background: #626262;
  border-radius: 2.7777777778rem;
  border: none;
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 0;
}

.player-sound-btn {
  outline: 0;
  cursor: pointer;
  transition: all 0.1s ease-out;
  background: url(../../img/sound-button.svg) center center/cover no-repeat;
  width: 0.6111111111rem;
  height: 0.8888888889rem;
  border: 0;
}

.player-sound__volume {
  height: 0.8888888889rem;
  position: relative;
  margin: 0 0.8333333333rem;
  width: 5rem;
}
.player-sound__volume:before {
  content: "";
  height: 0.2222222222rem;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  background: #626262;
  display: block;
  transform: translateY(-50%);
}

.player__sound-button {
  background: #626262;
  border-radius: 2.7777777778rem;
  border: none;
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 0;
}

.player__elem {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=main.css.map */