// size
$containerWidth: 940px;
$baseFontSize: 18px;
$fontWeightBold: 700;

//breakpoints
$tablets: 768px;
$phones: 480px;

// z-index
$z-fixed-menu: 100;


@import "media";
@import "layout";

// components
@import "blocks/*.scss"

